body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  color: #3A3B3C;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

/* Navigation Section */

nav {
  height: 64px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

  nav a {
  color: black;
}

.navbar {
  display: inline-flex;
  margin: 0 24px;
}

.logo {
  display: flex;
}

.colmar {
  font-weight: bold;
}

.navbar-right a {
  padding-left: 16px;
  margin-right: 24px;
}


/* Banner Section */

.banner-section {
  display: flex;
  align-items: center;
  background-color: lightgray;
}

.banner-img {
  margin: 32px 24px;
  width: 65%;
}

.banner-img img {
  width: 100%;

}

.banner-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 10%;
  margin-left: 16px;
  width: 35%;
}

.banner-text h1 {
  font-size: 2.4rem;
  margin: 0;
}

.banner-section p {
  padding-bottom: 0.5rem;
  font-size: 1.5rem;
}

.banner-text button {
  padding: 8px;
  border-color: #3A3B3C;
  background-color: #3A3B3C;
  color: white;
  font-size: 1.2rem;
}


/* Information Section */

.info-main {
  display: flex;
}

.practicing {
  margin: 32px 24px 0;
  width: 58%;
}

.practicing img {
  width: 100%;
}

.practicing h2 {
  font-size: 2rem;
  margin-top: 32px;
  margin-bottom: 24px;
}

.quote {
  font-size: 1.2rem;
}

.quote-author {
  margin: 32px 0;
}

.more-info {
  display: flex;
  flex-direction: column;
  width: 42%;
  margin: 16px 0 16px 16px;
}

.more-info img {
  width: 35%;
  height: auto;
  margin: 16px 16px 16px 0;
}

.info-sections {
  display: flex;
  align-items: center; 
}

.info-sections div {
  padding: 0 0.75rem;
}

.info-sections h3 {
  margin: 0;
  font-size: 1.4rem;
}

.info-sections p {
  margin: 8px 0;
  font-size: 1.1rem;
}

.info-sections a {
  color: #31a9f9;
}

.info-sections:hover {
  background-color: lightgray;
}


/* Courses Section */

.courses-section {
  background-color: lightgray;
  text-align: center;
  padding: 32px 56px;
}

.courses-cont {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.course-box {
  width: 27%;
  background-color: white;
  margin: 16px;
}

.course-box img {
  width: 100%;
}
