body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  color: #3A3B3C;
  box-sizing: border-box;
}

p {
  line-height: 1.5;
}

a {
  text-decoration: none;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.4rem;
}

.more-info:hover, .thesis-example:hover {
  background-color: lightgray;
}

/* Navigation Section */

nav a {
  color: black;
  font-size: 1.3rem;
}

.navbar-desktop {
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 24px;
}

.logo {
  display: flex;
  font-size: 30px;
}

.logo img {
  width: 42px;
  height: auto;
  margin-top: 0.2rem;
}

.colmar {
  font-weight: bold;
}

.navbar-right a {
  padding-left: 16px;
}

.navbar-phone {
  display: none;
}


/* Banner Section */

.banner-section {
  display: flex;
  align-items: center;
  background-color: lightgray;
  width: 100%;
}

.banner-img {
  margin: 32px 24px;
  max-width: 60%;
}

.banner-img img {
  width: 100%;
  height: auto;
}

.banner-text {
  margin-right: 10%;
  margin-left: 16px;
  width: 40%;
}

.banner-text h1 {
  font-size: 2.6rem;
  margin: 0;
}

.banner-section p {
  padding-bottom: 0.5rem;
  font-size: 1.6rem;
}

.banner-text a {
  display: block;
  padding: 1rem;
  border-color: #3A3B3C;
  background-color: #3A3B3C;
  width: 100%;
  color: white;
  font-size: 1.2rem;
  text-align: center;
}


/* Information Section */

.info-section {
  display: flex;
  width: 100%;
}

.practicing {
  margin: 32px 24px;
  max-width: 60%;
}

.practicing img {
  width: 100%;
  height: auto;
}

.practicing h2 {
  margin-top: 32px;
  margin-bottom: 24px;
}

.quote {
  font-size: 1.2rem;
}

.quote-author {
  margin: 32px 0;
}

.more-info-cont {
  display: flex;
  flex-direction: column;
  min-width: 40%;
  margin: 16px 0;
}

.more-info img {
  width: 35%;
  height: auto;
  margin: 16px;
}

.more-info-text {
  min-width: 65%;
}

.more-info {
  display: flex;
  align-items: center; 
}

.more-info div {
  padding: 0 0.75rem;
}

.more-info h3 {
  margin: 0;
}

.more-info p {
  margin: 8px 0;
  font-size: 1.1rem;
}

.more-info a {
  color: #31a9f9;
}

/* .more-info:nth-of-type(3n) {
  background-color: lightgray;
} */ /* not sure if spec calls for this or hover effect */


/* Courses Section */

.courses-section {
  background-color: lightgray;
  text-align: center;
  padding: 32px 56px;
}

.courses-section h2 {
  font-size: 2rem;
  margin: 0 0 16px 0;
}

.courses-cont {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.course-box {
  width: 27%;
  height: 24rem;
  background-color: white;
  margin: 16px;
  text-align: left;
}

.course-box img {
  width: 100%;
}

.course-box h3 {
  margin: 16px 0 0 0;
}

.course-box p {
  margin: 8px 0;
  font-size: 1.1rem;
}

.courses-text {
  margin: 16px;
}


/* Thesis Section */

.thesis-section h2 {
  text-align: center;
  margin: 32px 0 0 0;
}

.thesis-cont {
  display: flex;
  width: 100%;
}

.reimagine {
  margin: 32px 24px 0;
  max-width: 60%;
}

.reimagine video {
  width: 100%;
  height: auto;
}

.reimagine h3 {
  margin: 24px 0 8px 0;
}

.reimagine p {
  margin: 0 0 32px 0;
}

.thesis-examples-cont {
  display: flex;
  flex-direction: column;
  min-width: 40%;
  margin: 16px 0;
}

.thesis-example {
  display: flex;
  align-items: center; 
}

.thesis-example div {
  padding: 0 0.75rem;
}

.thesis-example h3 {
  margin: 0;
}

.thesis-example p {
  margin: 8px 0;
  font-size: 1.1rem;
}

.thesis-example img {
  width: 35%;
  height: auto;
  margin: 16px;
}

/* Footer */

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer {
  margin: 0 24px 32px 24px;
}

footer a {
  padding-left: 1.5rem;
}


@media (max-width: 1024px) {
  h2 {
    font-size: 1.8rem;
  }
  
  h3 {
    font-size: 1.2rem;
  }

  p {
    font-size: 0.85rem;
  }

  .banner-text {
    margin-right: 7%;
  }
  .banner-text h1 {
    font-size: 2rem;
  }
  .banner-text p {
    font-size: 1.3rem;
  }

  .more-info {
    padding-right: 0.5rem;
  }

  .course-box {
    height: 17rem;
  }
  .course-box p {
    font-size: 0.9rem;
  }

  .thesis-example {
    padding-right: 1rem;
  }
}

@media (max-width: 768px) {
  .navbar-desktop {
    display: none;
  }
  .navbar-phone {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    height: 64px;
  }
  .navbar-phone img {
    height: 40px;
    margin-top: 0.5rem;
  }

  .banner-text {
    margin-left: 0;
    margin-right: 24px;
  }
  .banner-text h1 {
    font-size: 1.4rem;
  }
  .banner-text p {
    font-size: 1rem;
  }


}


/* 
- wrap anchor tags around linked items
- make alt tags uniform
- add css folder to resources?
 */