body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  color: #3A3B3C;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.4rem;
}

.more-info:hover, .thesis-example:hover {
  background-color: lightgray;
}
/* Navigation Section */

nav {
  height: 64px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

  nav a {
  color: black;
}

.navbar {
  display: inline-flex;
  margin: 0 24px;
}

.logo {
  display: flex;
}

.colmar {
  font-weight: bold;
}

.navbar-right a {
  padding-left: 16px;
  margin-right: 24px;
}


/* Banner Section */

.banner-section {
  display: flex;
  align-items: center;
  background-color: lightgray;
}

.banner-img {
  margin: 32px 24px;
  width: 65%;
}

.banner-img img {
  width: 100%;
}

.banner-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 10%;
  margin-left: 16px;
  width: 35%;
}

.banner-text h1 {
  font-size: 2.4rem;
  margin: 0;
}

.banner-section p {
  padding-bottom: 0.5rem;
  font-size: 1.5rem;
}

.banner-text button {
  padding: 8px;
  border-color: #3A3B3C;
  background-color: #3A3B3C;
  color: white;
  font-size: 1.2rem;
}


/* Information Section */

.info-section {
  display: flex;
}

.practicing {
  margin: 32px 24px 0;
  width: 58%;
}

.practicing img {
  width: 100%;
}

.practicing h2 {
  margin-top: 32px;
  margin-bottom: 24px;
}

.quote {
  font-size: 1.2rem;
}

.quote-author {
  margin: 32px 0;
}

.more-info-cont {
  display: flex;
  flex-direction: column;
  width: 42%;
  margin: 16px 0;
}

.more-info-cont img {
  width: 35%;
  height: auto;
  margin: 16px;
}

.more-info {
  display: flex;
  align-items: center; 
}

.more-info div {
  padding: 0 0.75rem;
}

.more-info h3 {
  margin: 0;
}

.more-info p {
  margin: 8px 0;
  font-size: 1.1rem;
}

.more-info a {
  color: #31a9f9;
}


/* Courses Section */

.courses-section {
  background-color: lightgray;
  text-align: center;
  padding: 32px 56px;
}

.courses-section h2 {
  font-size: 2rem;
  margin: 0 0 16px 0;
}

.courses-cont {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.course-box {
  width: 27%;
  height: 24rem;
  background-color: white;
  margin: 16px;
  text-align: left;
}

.course-box img {
  width: 100%;
}

.course-box h3 {
  margin: 16px 0 0 0;
}

.course-box p {
  margin: 8px 0;
  font-size: 1.1rem;
}

.courses-text {
  margin: 16px;
}


/* Thesis Section */

.thesis-section h2 {
  text-align: center;
  margin: 32px 0 0 0;
}

.thesis-cont {
  display: flex;
}

.reimagine {
  margin: 32px 24px 0;
  width: 58%;
}

.reimagine video {
  width: 100%;
}

.reimagine h3 {
  margin: 24px 0 8px 0;
}

.reimagine p {
  margin: 0 0 32px 0;
}


.thesis-examples-cont {
  display: flex;
  flex-direction: column;
  width: 42%;
  margin: 16px 0;
}

.thesis-example {
  display: flex;
  align-items: center; 
}

.thesis-example div {
  padding: 0 0.75rem;
}

.thesis-example h3 {
  margin: 0;
}

.thesis-example p {
  margin: 8px 0;
  font-size: 1.1rem;
}

.thesis-example img {
  width: 35%;
  height: auto;
  margin: 16px;
}

/* Footer */

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer {
  margin: 0 24px 32px 24px;
}

footer a {
  padding-left: 1.5rem;
}

/* 
- wrap anchor tags around linked items
- make alt tags uniform
 */