html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #3A3B3C;
    box-sizing: border-box;
}

p {
  line-height: 1.5;
}

a {
  text-decoration: none;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.4rem;
}

.links {
  color: #3A3B3C;
}

.links:hover {
  color: gray;
  transition: color 0.5s ease-out;
}

.logo:hover {
  color: black;
}

.mobile-img {
  display: none;
}

/* Navigation Section */

nav a {
  color: black;
  font-size: 1.3rem;
}

nav a:hover {
  color: #31a9f9;
  transition: color 0.5s ease-out;
}

.navbar-desktop {
  height: 64px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  background-color: white;
  opacity: 90%;
}

.navbar-text {
  padding: 0 24px;
}

.logo {
  display: flex;
  font-size: 30px;
}

.logo img {
  width: 42px;
  height: auto;
  margin-top: 0.2rem;
}

.colmar {
  font-weight: bold;
}

.navbar-right {
  margin-right: 24px;
}

.navbar-right a {
  padding-left: 16px;
}

.navbar-phone {
  display: none;
}


/* Banner Section */

.banner-section {
  margin-top: 64px;
  display: flex;
  align-items: center;
  background-color: lightgray;
  width: 100%;
}

.banner-img {
  margin: 2rem 24px;
  max-width: 60%;
  height: auto;
}

.banner-img img {
  width: 100%;
  height: auto;
}

.banner-text {
  margin-left: 1rem;
  min-width: 40%;
  height: auto;
}

.banner-text div {
  width: 75%;
}

.banner-text h1 {
  font-size: 2.6rem;
  margin: 0;
}

.banner-section p {
  padding-bottom: 0.5rem;
  font-size: 1.6rem;
}

.banner-text a {
  display: block;
  padding: 1rem;
  border-color: #3A3B3C;
  background-color: #3A3B3C;
  width: 90%;
  color: white;
  font-size: 1.2rem;
  text-align: center;
  border-radius: 5px;
}

.banner-text a:hover {
  background-color: gray;
  transition: background-color 0.5s ease-in;
}


/* Information Section */

.info-section {
  display: flex;
  width: 100%;
}

.practicing {
  margin: 2rem 24px;
  max-width: 60%;
}

.practicing img {
  width: 100%;
  height: auto;
}

.practicing h2 {
  margin-top: 32px;
  margin-bottom: 24px;
}

.quote {
  font-size: 1.2rem;
}

.quote-author {
  margin: 32px 0;
}

.more-info-cont {
  display: flex;
  flex-direction: column;
  min-width: 41.25%; /* changed to make it look the same size as top section, but need a better option */
  margin: 1rem 0;
  border-left: lightgray solid 1px;
}

.more-info img {
  width: 35%;
  height: auto;
  margin: 1rem;
}

.more-info-text {
  min-width: 65%;
}

.more-info {
  display: flex;
  align-items: center; 
}

.more-info div {
  padding: 0 0.75rem;
}

.more-info h3 {
  margin: 0;
}

.more-info p {
  margin: 3.5% 0;
  font-size: 1.1rem;
}

.more-info a {
  color: #31a9f9;
}

.more-info:nth-of-type(3n) {
  background-color: lightgray;
} 

/* Courses Section */

.courses-section {
  background-color: lightgray;
  text-align: center;
  padding: 32px 56px;
}

.courses-section h2 {
  font-size: 2rem;
  margin: 0 0 16px 0;
}

.courses-cont {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.course-box {
  width: 27%;
  height: 23rem;
  background-color: white;
  margin: 16px;
  text-align: left;
}

.course-box img {
  width: 100%;
}

.course-box h3 {
  margin: 16px 0 0 0;
}

.course-box p {
  margin: 8px 0;
  font-size: 1.1rem;
}

.courses-text {
  margin: 16px;
}


/* Thesis Section */

.thesis-section h2 {
  text-align: center;
  margin: 32px 0;
}

.thesis-cont {
  display: flex;
  width: 100%;
}

.reimagine {
  margin: 0 24px;
  max-width: 60%;
}

.reimagine video {
  width: 100%;
  height: auto;
}

.reimagine h3 {
  margin: 24px 0 8px 0;
}

.reimagine p {
  margin: 0 0 32px 0;
}

.thesis-examples-cont {
  display: flex;
  flex-direction: column;
  min-width: 40%;
}

.thesis-example {
  display: flex;
  align-items: center; 
}

.thesis-example div {
  padding: 0 0.75rem;
}

.thesis-example h3 {
  margin: 0;
}

.thesis-example p {
  margin: 8px 0;
  font-size: 1.1rem;
}

.thesis-example img {
  width: 35%;
  height: auto;
  margin: 16px;
}
.thesis-example:nth-child(odd) {
  background-color: lightgray;
}
/* Footer */

.footer-hr {
  background-color: lightgray;
  height: 1px;
  border: none;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer {
  margin: 0 24px 32px 24px;
}

footer a {
  padding-left: 1.5rem;
  color: #3A3B3C;
}


@media (max-width: 1024px) {
  h2 {
    font-size: 1.8rem;
  }
  
  h3 {
    font-size: 1rem;
  }
  nav a {
    font-size: 0.95rem;
  }
  .logo {
    font-size: 1.5rem;
  }

  .banner-text h1 {
    font-size: 1.6rem;
  }
  .banner-text p {
    font-size: 1.2rem;
  }

  .more-info {
    padding-right: 0.5rem;
  }
  .info-section p {
    font-size: 0.8rem;
  }
  .course-box {
    height: 18rem;
  }
  .course-box p {
    font-size: 0.9rem;
  }

  .thesis-example {
    padding-right: 1rem;
  }
  .thesis-section p {
    font-size: 0.8rem;
  }
}

@media (max-width: 768px) {

  .desktop-img {
    display: none;
  }
  .mobile-img {
    display: block;
  }
  .navbar-desktop {
    display: none;
  }
  .navbar-phone {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    height: 64px;
    position: fixed;
    top: 0;
    width: 100%;
  }
  .navbar-phone img {
    height: 40px;
    margin-top: 0.5rem;
  }

  .banner-section {
    display: inline-block;
  }
  .banner-img {
    margin: 0;
    max-width: 100%;
    height: auto;
  }
  .banner-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin-left: 0;
  }
  .banner-text div {
    width: 100%;
  }
  .banner-text {
    width: 100%;
    margin: 0 auto;
  }
  .banner-text div {
    width: 90%;
    margin: 0 auto;
    padding: 2rem;
  }
  .banner-text h1 {
    font-size: 2.7rem;
    line-height: 1.5;
  }
  .banner-text a {
    width: 89%; /*changed to make it look centered, but need a better option */
    margin: 0 auto;
    display: inline-block;
  }

  .practicing {
    display: none;
  }
  .more-info {
    flex-direction: column;
    align-items: center;
    padding: 0;
    width: 100%;
  }
  .more-info-cont {
    min-width: 100%;
    margin-top: 16px;
    border-bottom: lightgray solid 2px;
  }
  .more-info {
    padding-bottom: 1rem;
  }
  .more-info img {
    width: 89%;
  }
  .info-text {
    width: 85%;
  }
  .info-text h3 {
    font-size: 1.5rem;
    margin-top: 1rem;
  }
  .more-info:nth-of-type(3n) {
    margin-bottom: 2rem;
    background-color: white;
  }

  .courses-section {
    background-color: white;
    padding: 0;
    padding: 0 2.2rem 2rem 2.2rem;
    padding-top: 2rem;
  }
  .courses-section h2 {
    margin-bottom: 1rem;
    font-size: 2.3rem;
  }
  .courses-cont {
    display: block;
  }
  .course-box {
    background-color: lightgray;
    height: auto;
    width: 100%;
    margin: 0 auto;
  }
  .course-box img {
    display: none;
  }
  .course-box p {
    display: none;
  }
  .course-box h3 {
    padding: 24px 0 24px 16px;
    font-size: 1.5rem;
  }

  .thesis-section {
    border-top: lightgray solid 2px;
  }
  .thesis-section h2 {
    font-size: 2.3rem;
    padding-bottom: 16px;
  }
  .thesis-examples-cont, .reimagine h3, .reimagine p {
    display: none;
  }
  .thesis-cont {
    display: inline-block;
    margin: 0 auto;
    min-width: 100%;
  }
  .reimagine {
    max-width: 100%;
    height: auto;
    margin: 0;
    padding-bottom: 24px;
  }
  .footer-hr,
  footer a {
    display: none;
  }

@media (max-width: 414px) {
  .banner-text {
    width: 90%;
    margin-right: 2.1rem;
  }
  .banner-text h1 {
    font-size: 1.8rem;
  }
}

/* media query added to center top text on mobile, but need better option */
